{name, "epitest"}.
{authors, ["Yurii Rashkovskii <yrashk@gmail.com>"]}.
{description, "Erlang Parallel Integration Testing toolkit"}.
{homepage, "https://github.com/fraserl/epitest"}.
{rebar_compatible, true}.
{url, {git, "https://github.com/fraserl/epitest.git", {branch, "master"}}}.
{applications, [epitest]}.
